* {
  padding: 0;
  margin: 0;
  font-family: Bahnschrift;
  /* skater_girls_rockregular */
}

.top-section {
  height: 100vh;
  background-image: url("./img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-area {
  height: 90%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.main-area p {
  color: #0f1954;
  font-size: 24px;
  width: 42rem;
}

.image-container {
  width: 410px;
  border: 1rem solid #99ccff;
  border-radius: 10px;
  height: 206px;
  box-shadow: 4px 4px 16px black;
}

.the-game-img {
  width: 100%;
}
.image-container:hover {
  cursor: pointer;
  box-shadow: 8px 8px 32px black;
}

.to-the-shop {
  height: 10%;
  font-size: 24px;
  font-weight: 300;
}

.to-the-shop {
  width: 45%;
  text-align: center;
}

.to-the-shop img {
  width: 10%;
}

/***** Product section *****/
.product-section {
  height: 100vh;
  background-image: url("./img/bg2.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products {
  height: 41rem;
  width: 40rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.product {
  background-color: #94db3d;
  box-shadow: 4px 4px 16px black;
}

.product-image {
  height: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.product-image img {
  width: 85%;
}

.product-text {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2a8e1c;
  font-size: 22px;
}

.product-text h2 {
  font-family: "skater_girls_rockregular";
  margin-top: 0.2rem;
}

#empty-square {
  position: relative;
}

#the-game {
  position: absolute;
  width: 19rem;
  top: 20%;
}

/***** Bottom section *****/
.bottom-section {
  height: 100vh;
}

.contact {
  height: 90vh;
  background-color: #99ccff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact p {
  color: #ff3333;
  font-family: "skater_girls_rockregular";
  font-size: 60px;
  margin-bottom: 3rem;
}

.contact div {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.contact img {
  width: 20%;
}

footer {
  height: 10vh;
  background-color: #015a84;
  color: #99ccff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Media Queries*/
@media screen and (max-width: 850px) {
  .main-area {
    width: 90%;
  }

  .logo-img {
    width: 100%;
  }

  .main-area p {
    width: 100%;
  }

  .to-the-shop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .to-the-shop img {
    width: 10%;
  }

  .products {
    width: 35rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }

  .product {
    display: flex;
    height: 100%;
  }

  .product-image {
    height: 92%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .product-image img {
    height: 90%;
  }

  .product-text {
    height: 100%;
    width: 100%;
  }

  .product-text h2 {
    margin-top: 0rem;
  }

  #the-game {
    position: absolute;
    width: 11rem;
    height: 7rem;
    top: 20%;
  }

  footer {
    display: none;
  }

  .bottom-section {
    height: 200px;
  }

  .contact {
    height: 100%;
  }

  .contact p {
    display: none;
  }

  .contact img {
    width: 18%;
  }

  .contact div {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 580px) {
  .main-area {
    width: 90%;
  }

  .image-container {
    width: 220px;
    border: 1rem solid #99ccff;
    border-radius: 10px;
    height: 110px;
    box-shadow: 4px 4px 16px black;
  }

  .main-area p {
    font-size: 20px;
  }

  .products {
    width: 18rem;
    height: 30rem;
  }

  #the-game {
    width: 5.5rem;
    height: 4rem;
  }
}
